/*

.bg {
    background-color: linear-gradient($theme-color-success, $theme-color-light);
}

.container_footer {
    background: linear-gradient($theme-color-success, $theme-color-light);
    height: 600px;
}
*/

@import "node_modules/bootswatch/dist/Litera/variables";

.navbarBg {
    background-color: $dark;
}

.bgColor {
    background-image: url('/src/images/farm_overlay.jpg');
    background-size: cover;
}




// Using Cosmo theme from bootswatch.com
@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/bootswatch/dist/Litera/bootswatch";


